*.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
target/
target-eclipse/
web-app/WEB-INF/classes/
*DB*
/WSEDT/target-eclipse
/WSEDT/.classpath